{% if page.indicator %}
    <title>
        {% unless page.indicator.standalone %}
        Beyond GDP -
        {% endunless %}
        {{ page.indicator.target }}

    </title>
{% elsif page.goal %}
    {% if page.goal_heading and page.goal_heading != '' %}
    <title>Beyond GDP - {{ site.title | t | escape }}</title>
    {% else %}
    <title>Beyond GDP {{ page.goal.number }} - {{ page.goal.short | escape }} - {{ site.title | t | escape }}</title>
    {% endif %}
{% elsif page.title and page.title != '' %}
    <title>Beyond GDP - {{ site.title | t | escape }}</title>
{% else %}
    <title>Beyond GDP</title>
{% endif %}
