{% include head.html %}
{% include header.html %}



{% include components/goal/header.html %}

<div class="container">
  {% include components/goal/breadcrumbs.html %}
</div>
{% if page.goal.number == '1' %}
  {% assign target = page.t.general.target_1 %}
  {% assign previous_goal = 4 %}
  {% assign next_goal = 2 %}
{% elsif page.goal.number == '2' %}
  {% assign target = page.t.general.target_2 %}
  {% assign previous_goal = 1 %}
  {% assign next_goal = 2 %}
{% elsif page.goal.number == '3' %}
  {% assign target = page.t.general.target_3 %}
  {% assign previous_goal = 2 %}
  {% assign next_goal = 4 %}
{% else %}
  {% assign target = page.t.general.target_3 %}
  {% assign previous_goal = 3 %}
  {% assign next_goal = 1 %}
{% endif %}
{% assign prev = page.t.page.t.global_goals. | append: previous_goal | append: -title %}
{% assign next = page.t.page.t.global_goals. | append: next_goal | append: -title %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col d-grid gap-2">
      <a href="{{ baseurl }}/{{ language }}/{{ previous_goal }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn text-nowrap" role="button">
        <b><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ prev }}</b>
      </a>
    </div>

    <div class="col d-grid gap-2">
      <a href="{{ baseurl }}/{{ language }}/{{ next_goal }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn text-nowrap" role="button">
        <b>{{ next }} <i class="fa fa-chevron-right" aria-hidden="true"></i></b>
      </a>
    </div>
  </div>
</div>

{% assign goal_indicators = page.indicators | where: 'goal_number', page.goal.number | group_by: 'target_number' %}

<div id="main-content" class="container" role="main">

  {% include components/goal/goal-content.html content=content %}

  <div class="container g-0 {% if show_progress %}goal-showing-progress{% endif %}">
    <div class="row align-items-end">
      <div class="col">
        <h2 class="goal-page-heading">{{ target }}</h2>
      </div>
    </div>
    <hr class="goal-page-column-header-rule">

    {% for group in goal_indicators %}
      {% assign target = group.name | sdg_lookup %}
      <div class="row" style="display: flex; justify-content: center; align-items: center;">
          <div class="col-auto goal-page-target-number">
            <h3 class="goal-target">
              <img src="https://beyondgdp.github.io/bygdp-indicators/assets/img/targets/{{ target.slug }}.png" alt="Logo {{ target.slug }}" style="max-width: 100px;"/>
            </h3>
          </div>
          <div class="col goal-page-target-name">
            <h3 class="target-name">{{ target.name }}</h3>
          </div>
      </div>
        {% for indicator in group.items %}

          {% assign tag_classes = "" | split: "," %}
          {% if indicator.tags %}
            {% for tag in indicator.tags %}
              {% assign tag_slug = "indicator-" | append: tag | slugify %}
              {% assign tag_classes = tag_classes | push: tag_slug %}
            {% endfor %}
          {% endif %}
          {% assign tag_classes = tag_classes | join: " " %}
          {% if indicator.progress_status and indicator.progress_status != '' %}
            {% assign indicator_has_progress = true %}
          {% endif %}

          <div class="row align-items-start goal-indicator">
            <div class="col-auto goal-page-indicator-number">
              <h4>
                <span class="indicator-number"><span class="visually-hidden">{{ page.t.general.indicator }}</span> </span>
              </h4>
            </div>
            <div class="col goal-page-indicator-name">
              {% if indicator.placeholder and indicator.placeholder != '' %}
              <span class="indicator-name">{{ indicator.placeholder }}</span>
              {% else %}
              <span class="indicator-name"><a href="{{ indicator.url }}">{{ indicator.name }}</a></span>
              {% include components/indicator/tags.html tags=indicator.tags reporting_status=true indicator=indicator %}
            </div>
            {% endif %}
          </div>
        {% endfor %}
        <hr class="goal-page-target-rule" />
    {% endfor %}
  </div>
  {% include back-to-top.html %}
</div>


{% include footer.html %}
