{% if page.language == 'de' %}
  {% assign language = '' %}
{% else %}
  {% assign language = page.language %}
{% endif %}


{% if site.environment == 'staging' %}
  {% assign baseurl = 'https://beyondgdp.github.io/bygdp-indicators' %}
{% else %}
  {% assign baseurl = 'https://sdg-indikatoren.de' %}
{% endif %}

<!-- {% if page.goal.number == '1' %}
  {% assign color = 'magenta' %}
{% elsif page.goal.number == '2' %}
  {% assign color = 'orange' %}
{% elsif page.goal.number == '3' %}
  {% assign color = 'purple' %}
{% else %}
  {% assign color = 'green' %}
{% endif %} -->

<!---Indicator page-->
<!---3 Btns if there is a corresponding Indicator-->
<div class="columns-navigation">
  <section>
    <button class="item-btn {{ color }}" onclick="location.href='{{ baseurl }}/{{ language }}/{{ page.indicator.previous }}'" data-item="">
      <!-- <img class="item-icon" src="https://beyondgdp.github.io/bygdp-indicators/assets/img/targets/{{ target.slug }}.png" alt="{{ target.slug }}"> -->
      <span class="item-label"><i class="fa fa-chevron-left" aria-hidden="true"></i> <b class="btn-label hidden-sm hidden-xs">{{ page.t.general.prev_indicator }} </b></span>
    </button>
  </section>


  <!-- <div class="row justify-content-md-center">
    <div class="col d-grid gap-2">
      <a href="{{ baseurl }}/{{ language }}/{{ page.indicator.previous }}" class="btn btn-primary btn-block goal-{{ page.page.goal.number }} navigation-btn" role="button" style="margin-top: 50px">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> <b class="btn-label hidden-sm hidden-xs">{{ page.t.general.prev_indicator }} </b>
      </a>
    </div>

    <div class="col d-grid gap-2">
      <a href="{{ baseurl }}/{{ language }}/{{ page.indicator.next }}" class="btn btn-primary btn-block goal-{{ page.page.goal.number }} navigation-btn" role="button"style="margin-top: 50px">
        <b class="btn-label hidden-sm hidden-xs">{{ page.t.general.next_indicator }} </b> <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </div> -->
</div>
